@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }
}
